<div class="container">
  <h1>Edit Feedback</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateFeedback(feedback._id)" #feedbackForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="feedback.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Date</label>
          <input type="text" class="form-control" [(ngModel)]="feedback.date" name="date" required>
        </div>
        <div class="form-group">
          <label for="name">Department</label>
          <input type="text" class="form-control" [(ngModel)]="feedback.department" name="department" required>
        </div>
        <div class="form-group">
          <label for="name">Theme</label>
          <input type="text" class="form-control" [(ngModel)]="feedback.theme" name="theme" required>
        </div>
        <div class="form-group">
          <label for="name">Sub Theme</label>
          <input type="text" class="form-control" [(ngModel)]="feedback.subTheme" name="subTheme" required>
        </div>
        
        <div class="form-group">
          <label for="name">Feedback</label>
          <input type="text" class="form-control" [(ngModel)]="feedback.feedback" name="feedback" required>
        </div>
        <div class="form-group">
          <label for="name">Status</label>
          <input type="text" class="form-control" [(ngModel)]="feedback.status" name="status" required>
        </div>
        <div class="form-group">
          <label for="name">Point Of Contact</label>
          <input type="text" class="form-control" [(ngModel)]="feedback.pointOfContact" name="pointOfContact" required>
        </div>
        <div class="form-group">
          <label for="name">Outstanding Actions</label>
          <input type="text" class="form-control" [(ngModel)]="feedback.outstandingActions" name="outstandingActions" required>
        </div>
        <div class="form-group">
          <label for="name">Strategic Review Link</label>
          <input type="text" class="form-control" [(ngModel)]="feedback.strategicReviewLink" name="strategicReviewLink" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!feedbackForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>