<div class="container">
  <h1>{{feedback.name}}</h1>
  <dl class="list">
    <dt>Name</dt>
    <dd>{{feedback.name}}</dd>
    <dt>Date</dt>
    <dd>{{feedback.date | date: medium }}</dd>
    <dt>Department</dt>
    <dd>{{feedback.department}}</dd>
    <dt>Theme</dt>
    <dd>{{feedback.theme}}</dd>
    <dt>Sub Theme</dt>
    <dd>{{feedback.subTheme}}</dd>
    <dt>Feedback</dt>
    <dd>{{feedback.feedback}}</dd>
    <dt>Status</dt>
    <dd>{{feedback.status}}</dd>
    <dt>Point Of Contact</dt>
    <dd>{{feedback.pointOfContact}}</dd>
    <dt>Outstanding Actions</dt>
    <dd>{{feedback.outstandingActions}}</dd>
    <dt>Strategic Review Link</dt>
    <dd>{{feedback.strategicReviewLink}}</dd>
    <dt>Update Date</dt>
    <dd>{{feedback.updated_date}}</dd>
  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/feedback-edit', feedback._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteFeedback(feedback._id)">DELETE</button>
  </div>
</div>